# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# Special handling because we've got .obj model files
**/x64/**/*.obj
**/x64/**/*.obj
x64/**/*.lib

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Other garbage
*.tlog
*.ipch
*.recipe
*.pdb
*.ilk
*.iobj
*.ipdb
*.idb
*.log
.vs/*